beautifulsoup4==4.11.1
chromedriver-py==102.0.5005.27
dash==2.2.0
dash-core-components==2.0.0
dash-cytoscape==0.2.0
dash-html-components==2.0.0
dash-table==5.0.0
fastai==2.5.3
huggingface-hub==0.4.0
requests==2.27.1
scikit-learn==1.0.2
scipy==1.7.3
selenium==4.1.2
spacy==3.2.3
spacy-legacy==3.0.9
spacy-loggers==1.0.1
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.8.0
tensorflow-io-gcs-filesystem==0.25.0
termcolor==1.1.0
tf-estimator-nightly==2.8.0.dev2021122109
tokenizers==0.11.6
torch==1.10.2
torchaudio==0.10.2
torchvision==0.11.3
transformers==4.17.0